@import "tailwindcss";

@layer utilities {
  /* Custom smooth scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  body {
    background: #ffffff !important;
    color: #000000 !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .print-break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
